<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  <meta name="author" content="dr Claw"/>
  {{ with .Site.Params.favicon }}<link href='{{ $.Site.BaseURL }}/{{ . }}' rel='icon' type='image/x-icon'/>{{ end }}

  <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .URL }}" />
  <meta property="og:image" content="/{{ .Site.Params.logo }}" />
  
</head>
